@model AtomConfiguratorModel.Models.Metric

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Metrics", FormMethod.Post, new { @class = "form-crud" }))
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>Metric</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.MetricName, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.MetricName)
                @Html.ValidationMessageFor(model => model.MetricName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

