@model PagedList.IPagedList<ATOMv0.Models.DimFacility>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="form-crud list-medium">
    <h2>Facilities</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
        <a style="color:#00ff21" href="@Url.Action("Create")">
            <i class="glyphicon glyphicon-plus"></i>
            <span class="sr-only">Create</span>
        </a>

        @using (Html.BeginForm(Html.BeginForm("Index", "DimFacilities", FormMethod.Get)))
        {

            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "SearchBox", columnFilter = ViewBag.ColumnFilter, placeholder = "Enter Keyword", style = " border: 3px solid #ccc; border-radius: 25px; padding-left: 1em; padding-right: 1em; text-align:center;  font-color:#ccc" }) <br /><br />
            <input id="search" class="btn btn-success" type="submit" value="Search" />
            <input id="reset" type="button" class="btn btn-primary " value="Reset" onclick="location.href='@Url.Action("Index")'" />

        }

    </p>
    <table class="table table-bordered table-condensed responsive">
        <tr id="heading">
            <th>
                @Html.DisplayNameFor(model => model.First().SiteName)

                <a style="float: right;" href="@Url.Action("Index", new { sortOrder = "Facility_Desc", currentFilter = ViewBag.CurrentFilter })">
                    <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                    <span class="sr-only">Descending</span>
                </a>

                <a style="float: right;" href="@Url.Action("Index", new { sortOrder = "", currentFilter = ViewBag.CurrentFilter })">
                    <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <span class="sr-only">Ascending</span>
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DimCountry.CountryName)

                @Html.DropDownListFor(model => model.First().DimCountry.CountryName, new SelectList(ViewBag.CountryList, "ALL"), ViewBag.ColumnFilter as string, new { id = "CountryFilter", style = "padding-left:1em;" })

                <a href="@Url.Action("Index")">
                    <i class="glyphicon glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Clear</span>
                </a>

                <a style="float: right;" href="@Url.Action("Index", new { sortOrder = "Country_Desc", currentFilter = ViewBag.CurrentFilter })">
                    <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                    <span class="sr-only">Descending</span>
                </a>

                <a style="float: right;" href="@Url.Action("Index", new { sortOrder = "Country", currentFilter = ViewBag.CurrentFilter })">
                    <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <span class="sr-only">Ascending</span>
                </a>

            </th>
            <th>
                Functions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DimCountry.CountryName)
                </td>
                <td style="font-size:12px">

                    <a href="@Url.Action("Edit", new { id = item.id })">
                        <i style="color:#5500ff" class="glyphicon glyphicon-pencil"></i>
                        Edit
                        <span class="sr-only">Edit</span>
                    </a>

                    |
                    <a href="@Url.Action("Details", new { id = item.id })">
                        <i style="color:#ff9000" class="glyphicon glyphicon-fullscreen"></i>
                        Details
                        <span class="sr-only">Details</span>


                    </a>|
                    <a href="@Url.Action("Delete", new { id = item.id })">
                        <i style="color:#ff0000" class="glyphicon glyphicon-trash"></i>
                        Delete
                        <span class="sr-only">Delete</span>
                    </a>

                </td>
            </tr>
        }

    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>

<script>
    $('#CountryFilter').change(function () {

        var url = '/DimFacilities/Index?columnFilter=' + $('#CountryFilter option:selected').text(); + '&sortOrder=' + '@ViewBag.CurrentSort' + '&currentFilter=' + '@ViewBag.CurrentFilter'
        gotoURL(url);

    });


</script>