@model ATOMv0.Models.DimFinancialCompany

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "DimFinancialCompany", FormMethod.Post, new { @class = "form-crud" }))
{
    @Html.AntiForgeryToken()

    <div>
        <h2>Edit</h2>
        <h4>DimFinancialCompany</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.FinancialCompanyName, new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.FinancialCompanyName)
                @Html.ValidationMessageFor(model => model.FinancialCompanyName)
                <br /><br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}