@model ATOMv0.Models.DimBusinessPartner
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-crud">
    <h4>DimBusinessPartner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPCode)
        </dd>

    </dl>

    <div class="form-actions no-color">
        <input type="button" class="btn btn-info " value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.id })'" />
    </div>
    <br />

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

